apiVersion: v1
kind: Service
metadata:
  name: {{ deploy_name }}
spec:
  selector:
    app: {{ deploy_name }}
  ports:
    - protocol: TCP
      port: {{ working_port }}
      targetPort: {{ working_port }}
  type: ClusterIP